<html>
    <head>
        <title>BTC Trades Analysis</title>
        <!-- This script tag is used to include the plotly library -->
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <!-- This script tag is used to include the btc_trades_analysis.js file -->
        <script src="{{ url_for('static', filename='btc_trades_analysis.js') }}"></script>
    </head>
    <body>
        <h1>Select a file to plot</h1>
        <!-- This form is used to submit the file chosen by the user to the plot route -->
        <form action="/btc_trades_analysis" method="POST">
            <select name="file">
                {% for file in files %}
<!-- This loop is used to populate the list with the available files -->
                    <option value="{{ file }}">{{ file }}</option>
                {% endfor %}
            </select>
            <!-- This button is used to submit the form -->
            <input type="submit" value="Submit">
        </form>
        <h2>File: {{ filename }}</h2>
        <!-- This div is used to contain the plotly plot -->
        <div id="plotly"></div>
        <!-- This input is used to enter the name of the csv file to save the data -->
        <input type="text" id="filename" placeholder="Enter csv file name">
        <!-- This button is used to submit the data to the server -->
        <input type="submit" value="Save" onclick="saveData()">
        <script>
            <!-- This script is used to call the createPlot() function from btc_trades_analysis.js -->
            createPlot({{ df|tojson }});
            function saveData() {
                var filename = document.getElementById('filename').value;
                var data = [];
                // Get the data for each trace in the plot
                Plotly.d3.selectAll('.scatter').each(function(d){
                    data.push({
                        x: d[0].x,
                        y: d[0].y,
                        color: d[0].marker.color
                    });
                });
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                       alert("Data saved!");
                    }
                };
                xhttp.open("POST", "/savedata", true);
                xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                xhttp.send("data=" + JSON.stringify(data) + "&filename=" + filename);
            }
        </script>
    </body>
  </html>
