<html>
    <head>
        <title>Interactive Plot</title>
        <!-- This script tag is used to include the plotly library -->
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>
    <body>
        <h2>File: {{ filename }}</h2>
        <h1>Select a file to plot</h1>
        <!-- This form is used to submit the file chosen by the user to the plot route -->
        <form action="/hft_plot" method="POST">
            <select name="file">
                {% for file in files %}
<!-- This loop is used to populate the list with the available files -->
                    <option value="{{ file }}">{{ file }}</option>
                {% endfor %}
            </select>
            <!-- This button is used to submit the form -->
            <input type="submit" value="Submit">
        </form>
        <!-- This div is used to contain the plotly plot -->
        <div id="plotly"></div>
        <!-- This input is used to enter the name of the csv file to save the timestamps -->
        <input type="text" id="filename" placeholder="Enter csv file name">
        <!-- This button is used to submit the timestamps to the server -->
        <input type="submit" value="Save" onclick="saveTimestamps()">
        <script>
            // List to store the timestamps clicked on the plot
            var timestamps = [];
            <!-- This script is used to create the plotly plot from the data -->
            var data = {{ df|tojson }};
            var trace = {
                x: Object.values(data.datetime),
                y: Object.values(data.delta),
                type: 'scatter'
            };
            var layout = {
                xaxis: {
                    range: [0, 500]
                },
                margin: {
                    l: 40,
                    r: 40,
                    b: 40,
                    t: 40
                },
                dragmode: 'pan'
            };
            // Create the plotly plot
            Plotly.newPlot('plotly', [trace], layout);
            // Add a listener to detect when the user clicks on the plot
            document.getElementById('plotly').on('plotly_click', function(data){
                // Retrieve the x and y coordinates of the click
                var x = data.points[0].x;
                var y = data.points[0].y;
                // Add the timestamp to the list
                timestamps.push(x);
                // Create a trace with a single point to highlight the clicked timestamp
                var newTrace = {
                    x: [x],
                    y: [y],
                    type: 'scatter',
                    mode: 'markers',
                    marker: {
                        color: 'red'
                    }
                };
                // Add the trace to the plot
                Plotly.addTraces('plotly', newTrace);
            });
            // Function to send the timestamps to the server
            function saveTimestamps() {
                // Retrieve the filename entered by the user
                var filename = document.getElementById('filename').value;
                // Create a new http request
                var xhttp = new XMLHttpRequest();
                // Add a listener to detect when the response from the server is received
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                       alert("Data saved!");
                    }
                };
                // Send the request to the server
                xhttp.open("POST", "/savetimestamps", true);
                xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                xhttp.send("timestamps=" + JSON.stringify(timestamps) + "&filename=" + filename);
            }
        </script>
    </body>
  </html>